<div class="wrapper">
    <div class="pre-tittle">Hola mi nombre es</div>
    <h1 class="title">Jhon Gonzalez</h1>
    <h2 class="sub-title">Soy desarrollador</h2>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores minus dolore 
        dolorem optio debitis sed natus, voluptatem asperiores distinctio, itaque quod quaerat sapiente 
        quisquam quia accusamus perferendis, vel earum.
    </p>
    <hr>
    <div class="video-wrapper">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BIJFhBjt3mc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="links-wrappers">
        <hr>
        <div class="links d-flex flex-wrap">
            <div class="block col-12 col-lg-4" *ngFor="let link of [1,1,1]">
                <div class="block-in">
                    <i class="fas fa-angle-double-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>